footer.footer.text-faded.text-center.py-5
    .container
        p.m-0.small.footer-text Copyright &copy; Climatisation Express.
        img.footer-logo(src='assets/img/logo.png', alt='Logo Climatisation Express')