doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Climatisation Express - À propos

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.about-heading
            .container
                img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0(src='assets/img/tech3.jpg', alt='Technicien Climatisation Express')
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper Une équipe jeune et dynamique
                                    span.section-heading-lower À propos de nous
                                h2.section-heading.mb-4
                                    span.section-heading-upper Nos métiers
                                
                                ul.clim-list
                                    li Entrepreneur spécialisé dans les systèmes de CVC
                                    li Entrepreneur en climatisation
                                    li Technicien de chauffage
                                    li Entrepreneur en ventilation
                                    li Spécialiste de la thermopompe
                                    li Spécialiste de la réfrigération+

                                h2.section-heading.mb-4
                                    span.section-heading-upper Nos plus

                                ul
                                    li Qualité de service
                                    li Service conseil
                                    li Solution adaptée
                                    li Main d'oeuvre qualifiée
                                    li Une équipe jeune, dynamique et motivée

        include includes/footer

        include includes/scripts
