doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Climatisation Express - Produits et services

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-lower Thermopompe
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/thermo-3.jpg' alt='Thermopompe')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                               | Nous vous proposons des thermopompes basse température qui atteignent des niveaux de fiabilité et d’efficacité remarquables. Outre la vente et l’installation, nos services incluent le diagnostic et la réparation d'appareils de toutes marques.<br><br>
                               | Vous pouvez faire appel à nos services pour le dépannage ou le remplacement de vos installations de chauffage, de climatisation ou de réfrigération.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.me-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-lower Chauffage
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/salon.jpg' alt='Salon')
                    .product-item-description.d-flex.ms-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Une thermopompe basse température est la solution pour chauffer une habitation même lorsque la température extérieure est très basse. Elle est spécialement conçue et adaptée au climat hivernal québécois.<br><br>
                                | Attentifs à vos besoins, nous vous donnons tous les conseils nécessaires pour faire le bon choix dans la sélection de vos appareils. Fiez-vous à notre solide expérience, pour réduire votre consommation d'énergie. Nous vous aidons à bénéficier d'un rendement énergétique optimal.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-lower Climatisation
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/remote.jpg' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Afin d’éliminer efficacement l’excès d’humidité, les polluants volatils ainsi que les odeurs, tous les types de bâtiments requièrent une ventilation adéquate. La pose d'un système de ventilation performant répond également aux exigences de confort et de performances énergétiques du bâtiment.<br><br>

                                | C’est pourquoi nous vous proposons des solutions multiples telles que la pose de système CVC (chauffage, ventilation et climatisation). Notre objectif est de maintenir le niveau de confort, d'hygiène et de sécurité dans vos locaux.

            section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.me-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-lower Entrepreneur CVC
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/salon.jpg' alt='Salon')
                    .product-item-description.d-flex.ms-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Afin d’éliminer efficacement l’excès d’humidité, les polluants volatils ainsi que les odeurs, tous les types de bâtiments requièrent une ventilation adéquate. La pose d'un système de ventilation performant répond également aux exigences de confort et de performances énergétiques du bâtiment.<br><br>
                                | C’est pourquoi nous vous proposons des solutions multiples telles que la pose de système CVC (chauffage, ventilation et climatisation). Notre objectif est de maintenir le niveau de confort, d'hygiène et de sécurité dans vos locaux.

            section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-lower Réfrigération
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/room.jpg' alt='Regrigerator')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Que vous soyez dans le secteur résidentiel ou commercial, n'hésitez pas à nous contacter pour les travaux relatifs au système de CVC. Nous œuvrons dans le domaine de la réfrigération et de la climatisation.<br><br>

                                | Nous mettons à votre service notre savoir-faire et notre expérience afin de réaliser vos projets. Que vous ayez besoin d'un service de réparation ou d’un nouveau système de réfrigération dans votre maison ou dans votre bureau, nous sommes là pour vous !

        include includes/footer

        include includes/scripts
