doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Climatisation Express - L'entreprise

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-5
                                span.section-heading-upper Contactez nous!
                                span.section-heading-lower Nous sommes ouvert
                            ul.list-unstyled.list-hours.mb-5.text-left.mx-auto
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Dimanche
                                    span.ms-auto Fermé
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Lundi
                                    span.ms-auto 8:00 AM à 18:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Mardi
                                    span.ms-auto 8:00 AM à 18:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Mercredi
                                    span.ms-auto 8:00 AM à 18:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Jeudi
                                    span.ms-auto 8:00 AM à 18:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Vendredi
                                    span.ms-auto 8:00 AM à 18:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Samedi
                                    span.ms-auto Fermé
                            p.address.mb-5
                                em
                                    strong 1903 rue Lajoie
                                    br
                                    | Trois-Rivièeres, Québec, G8Z 3G1
                                    br
                                    <a href="tel:819-801-9557"><strong>819-801-9557</strong></a>
                            p.mb-0
                                small
                                    em ppelez-nous en tout temps! Il se peut que nous soyons en train de travailler chez un client lors de votre appel, vous pouvez alors nous laisser un message vocal ou nous envoyer une demande via le formulaire de notre page <a href="/contact.html">contact</a> pour un rappel dès que possible.

        section.page-section.about-heading
            .container
                img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0(src='assets/img/tech2.jpg', alt='Technicien Climatisation Express')
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper Une compagnie jeune et dynamique
                                    span.section-heading-lower À propos de climatisation Express
                                    
                                h2.section-heading.mb-4
                                    span.section-heading-upper Nos métiers
                                
                                ul.clim-list
                                    li Entrepreneur spécialisé dans les systèmes de CVC
                                    li Entrepreneur en climatisation
                                    li Technicien de chauffage
                                    li Entrepreneur en ventilation
                                    li Spécialiste de la thermopompe
                                    li Spécialiste de la réfrigération+

                                h2.section-heading.mb-4
                                    span.section-heading-upper Nos plus

                                ul
                                    li Qualité de service
                                    li Service conseil
                                    li Solution adaptée
                                    li Main d'oeuvre qualifiée
                                    li Une équipe jeune, dynamique et motivée

        include includes/footer

        include includes/scripts
